
header{
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.header__container h1{
    font-size: 3.5rem;
    cursor: default;
    
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.header__container h3{
    cursor: default;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.header__container h5{
    cursor: default;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.header__container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 5%;
}

.header-one{
    flex:1;
    width: 100%;
}

.header-two{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
   
    object-fit: cover;
    width:50%;
}

.me-pic{
    
}


/* cta */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}

/* Socials */

.header__socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    bottom: 3rem;
}

.fade-in-1 {
    opacity: 0;
	animation: fadeIn 1s 0.5s ease-out forwards;
}

.fade-in-2 {
    opacity: 0;
	animation: fadeIn 1s 1.5s ease-out forwards;
}

.fade-in-3 {
    opacity: 0;
    animation: fadeIn 1s 2.5s ease-out forwards;

}
/* MEDIA QUERIES - Medium */

@media screen and (max-width: 1024px){

    .header-section{
        padding-top: 30px;
    }
  
    .container.header__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
     
    }

    .icon-social{
        font-size: 42px;
    }

    .header__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 5%;
    }
    
    img{
        width: 40%;
    }

    .header-one{
        flex:1;
        width: 100%;
    }
}

/* MEDIA QUERIES - Small */

@media screen and (max-width: 600px){

    .header-section{
        padding-top: 30px;
    }


    .header__container h1{
        font-size: 40px;
    }
    
    .header__container h2{
        font-size: 1.5rem;
    
    }

    .icon-social{
        font-size: 32px;
    }

    .container.header__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
     
    }

    .header-one{
        flex:1;
        width: 100%;
        padding-bottom: 0;
        
    }

    .header-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 40%;
    }
}


@keyframes fadeIn {
    0%   { display: block; opacity: 0;  }
    30% { display: block; opacity: .5; }
    60% { display: block; opacity: .8; }
    100% { display: block; opacity: 1; } 
  }
  


