
.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #00e0c6;
    color: black;
}

.nav-bar-logo{
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    background-color: #00e0c6;
    color:#016170;
    margin-left: 5px;
}



/* MEDIA QUERIES - Medium */

@media screen and (max-width: 1024px){
    

}


/* MEDIA QUERIES - Small */

@media screen and (max-width: 600px){


}