

.nav-btn{
   font-size: large;
   font-weight: 600;
   background-color: #00e0c6;
   color: white;
   cursor: pointer;
   color: black;
   margin: 0px 30px;
   white-space: nowrap;
}

.nav-btn:hover{
    text-decoration: underline;
    color: white;
 }


 /* MEDIA QUERIES - Medium */

@media screen and (max-width: 1024px){
    

    .nav-btn{
        font-size: 20px;
    }

}

/* MEDIA QUERIES - Small */

@media screen and (max-width: 600px){


    .nav-btn{
        font-size: 16px;
        
    }

}
