.experience-section{
    background-color: #016170;
    padding-bottom: 2rem;
}

.experience-title-container{
   display: flex;
   text-align: center;

}

.experience-title{
   background-color: #00e0c6;
   color: black;
   box-shadow: 0px 5px 0px 5px;
 
}

.section-subheader-white{
   letter-spacing: 2px;
}

.employment-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.employment-card{
   background-color: black;
   width: 300px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 26px;
   color: white;
   flex: 1;
   text-align: center;
   /* margin: 25px;
   padding: 40px; */

 
   border-image-source: linear-gradient(60deg, #00e0c6, #FFFFFF);
   transform: scale(0.75) rotateY(0deg) rotateX(45deg) translateZ(4.5rem);
   transform-origin: 50% 100%;
   transform-style: preserve-3d;
   box-shadow: 1rem 1rem 2rem rgba(0, 224, 198,0.5);
   transition: 0.6s ease transform;

}

.employment-card:hover{
   
}

.employment-card:hover{
   transform: scale(1);
  
 }

 .employment-card::before{
   transform: translateZ(4rem);
   
 }

 .employment-card::before:hover{
   transform: translateZ(0);
 }

 .employment-card::after{
   transform: translateZ(-4rem);
 }

 .employment-card::after:hover{
     transform: translateZ(-1px);
 }

.employment-card .responsival{
 
}

.employment-card .herl{
 
}

.employment-card .wholeys{

}


 .ed-subsection{
    display: flex;

    align-items: center;
    flex-direction: row;
    margin-top: 30px;
 }
 
.ed-card{
   width: 300px;
   height: 300px;
   cursor: pointer;
   background-color: black;
   transform: scale(0.75) rotateY(0deg) rotateX(45deg) translateZ(4.5rem);
   transform-origin: 50% 100%;
   transform-style: preserve-3d;
   box-shadow: 1rem 1rem 2rem rgba(0, 224, 198,0.5);
   transition: 0.6s ease transform;
}

 .ed-card:hover{
   transform: scale(1);
  
 }

 .ed-card::before{
   transform: translateZ(4rem);
   
 }

 .ed-card::before:hover{
   transform: translateZ(0);
 }

 .ed-card::after{
   transform: translateZ(-4rem);
 }

 .ed-card::after:hover{
     transform: translateZ(-1px);
 }

 .ed-card:hover > .pitt-hover{
   display: flex;
   align-items: center;
   text-align: center;
   position:absolute;
   top:40%;
}

.ed-card:hover > .google-hover{
   display: flex;
   align-items: center;
   text-align: center;
   position:absolute;
   top:40%;
}


.degree-container{
   display:flex;
   flex-direction: column;
   background-color: transparent;
}

.degree-text{
   font-size: 28px;
   background-color: transparent;
}

.ed-card:hover > .pitt-img{
   animation: fadeOut ease .5s forwards;
}
.ed-card:hover > .google-img{
   animation: fadeOut ease .5s forwards;
}
.ed-card:hover > .aws-img{
   animation: fadeOut ease .5s forwards;
}
 
 .pitt-img-container{
    flex: 1;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    padding:10px;
    transform: scale(0.75) rotateY(0deg) rotateX(45deg) translateZ(4.5rem);
 }
 .aws-img-container{
   flex:1;
   display: flex;
   text-align: center;
   display: flex;
   justify-content: center;
   padding: 10px;
   transform: scale(0.75) rotateY(0deg) rotateX(45deg) translateZ(4.5rem);

 }

 .google-img-container{
   flex:1;
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 10px;
   display: flex;
   
 }

 .aws-img{
 width:300px;
 background-color: #000000;
 }

 .google-img{
   width: 300px;
   background-color: #000000;
 }

 .pitt-img{
   width:300px;
   z-index: 1;
   animation: fadeIn ease .5s forwards;
   background-color: #000000;
 }

 .pitt-hover{
   display: none;
   font-size: 28px;
   z-index: 2;
   color: white;
   background-color: transparent;
   ;
 }

 .coming-soon-container{
   background-color: transparent;
 }

 .coming-soon-text{
   background-color: transparent;
 }

 .google-hover{
   display: none;
   font-size: 28px;
   z-index: 2;
   animation: fadeIn ease .5s forwards;
   color: yellow;
   background-color: transparent;
   justify-content: center;
 }

 .aws-hover{
   animation: fadeIn ease .5s forwards;
 }


 .google-img{
   width:300px;
 }

 .marquee-container-1{
   background-color: black;
  
 }

 .course-marquee-container{
   background-color: black;
 }

 



 



 /* MEDIA QUERIES - Medium */

@media screen and (max-width: 1024px){

   .employment-container{
      flex-direction: column;
      align-items: center ;
   }

   .employment-card{
      width: 550px;
      padding: 5rem 10rem 5rem 10rem;
      letter-spacing: 1px;
   }

   .ed-subsection{
      flex-direction: column;
   }

   .ed-card{
      width: 300px;
   }

   .pitt-img-container{
      flex: 1;
      text-align: center;
      width: 400px;
   }
  
   .aws-img-container{
     flex:1;
     text-align: center;
     width: 400px;
   }
  
   .google-img-container{
     flex:1;
     text-align: center;
     width: 400px;
   }

   .aws-img{
      width:300px;
      }
     
      .pitt-img{
        width:300px;
      }
      .google-img{
        width:300px;
      }

}

/* MEDIA QUERIES - Small */

@media screen and (max-width: 600px){

   .experience-title{
      background-color: #00e0c6;
      font-size: 26px;
      color: black;
      box-shadow: 0px 5px 0px 5px;
   }

   .section-subheader-white{
      font-size: 20px;
   }


   .employment-container{
      flex-direction: column;
      align-items: center ;
   }

   .employment-card{
    width:275px;
    
    letter-spacing: 1px;
   }

   .ed-subsection{
      flex-direction: column;
      ;
   }

   .pitt-img-container{
      flex: 1;
      text-align: center;
      padding: 10px;
      width: 320px;
   }
  
   .aws-img-container{
     flex:1;
     text-align: center;
     padding: 10px;
     width:320px;
   }
  
   .google-img-container{
     flex:1;
     text-align: center;
     padding: 10px;
     width:320px;
   }

   .aws-img{
      width:300px;
      }
     
      .pitt-img{
        width:300px;
      }
      .google-img{
        width:300px;
      }
   
}

@keyframes fadeOut {
   0%   { display: block; opacity: 1;  }

   100% { display: block; opacity: .1; } 
 }

 @keyframes fadeIn {
   0%   { display: block; opacity: .1;  }
   100% { display: block; opacity: 1; } 
 }

